/* General Style */

@font-face
/*Make font choices here.*/

/*body {
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}*/

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 3.5em;
}

body {
  text-align: center;
}

article {
  font-family: 'Kanit', sans-serif;
}

#main {
  margin-left: 15%;
}

.title {
  margin-left: 15%;
}

.left-nav {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
}

.left-nav li a {
	display: block;
	/*text-indent: -500em;*/
	height: 5em;
	width: 5em;
	line-height: 5em;
	text-align: center;
	color: #999;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}

.left-nav li a:hover,
.left-nav li:first-child a{
	background: #47a3da;
	color: #fff;
}

/* class for current item */
.left-nav li.current a {
	background: #fff;
	color: #47a3da;
}

.left-nav li a:before {
	font-style: normal;
	font-weight: normal;
	text-indent: 0em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

/* Make the mobile-ready design changes */
/*@media screen and (max-height: 34.9375em) {

	.left-nav {
		font-size: 70%;
	}

}*/
