/* STYLE RESET. FOR RESET THE STYLES. */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END STYLE RESET. NOW CAN STYLE FOR REALS. */

/* General Style */

@font-face
/*Make font choices here.*/

/*body {
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}*/

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* End Clearfix */

/* Navbar! */

.site-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
}

.site-nav-list,
.footer-nav-list {
  margin: 0;
  padding: 0;
}

.site-nav-item {
  float: left;
  width: 18%;
  height: 60px;
  padding: 0.75em;
  font-family: "Montserrat", "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
}

.site-nav-item > .fa {
  font-size: 1.75rem;
}

.site-nav-item:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.site-nav-item-label {
  display: block;
  margin-top: 0.5em;
}

/* END NAVBAR! */

.title {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 3.5em;
}

body {
  text-align: center;
}

article {
  font-family: 'Kanit', sans-serif;
  padding: 50px;
}

ul {
  list-style-type: none;
}

h1 {
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 1.5em;
}

/* ABOUT */

#about-slide {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  display: block;
}

#about-slide li {
  float: left;
  width: 25%;
  height: 200px;
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
}

/* PROJECTS SECTION */

.container {
  width: 900px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

#projects-list {
  width: 600%;
  -webkit-animation: projects-list 20s linear infinite;
	-moz-animation: projects-list 20s linear infinite;
	-ms-animation: projects-list 20s linear infinite;
	animation: projects-list 20s linear infinite;
}

#projects-list img {
  display: inline-block;
}

#projects-list img:not(:first-child) {
  float: left;
}

@-webkit-keyframes projects-list {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}
}
@-moz-keyframes projects-list {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}
}
@-ms-keyframes projects-list {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}
}
@keyframes projects-list {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}
}
